{{ember-load-remover}}
<br>
<br>
<br>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 id="head" class="ui center aligned header">
      <img class="image" src="assets/logo.png" alt="logo"> Register a new account
    </h2>
    <form class="ui large form">
      <div class="ui stacked inverted segment">
        <div class="field">
          <div class="ui left icon input">
            <i id="regi" class="user icon"></i>
            {{input value=model.channelname placeholder="Enter channel name..." type="text"}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i id="regi" class="lock icon"></i>
            {{input value=model.password placeholder="Enter password..." type=(if show "text" "password")}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i id="regi" class="lock icon"></i>
            {{input value=this.secondPassword type=(if show "text" "password") placeholder="Enter password again..."}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            {{ui-checkbox class="toggle" label="Show password" checked=show onChange=(action (mut show))}}
          </div>
        </div><br>
        <div  role="button" id="logbutton" class="ui fluid large {{if loader "loading"}} submit button" {{action "register"}}>Register</div>
      </div>
      <div class="ui error message"></div>
    </form>
    <div class="ui message inverted">Already have an account? {{#link-to "login"}} Login{{/link-to}}</div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="ui mobile only padded grid">
  <h1 class="ui header" id="white">About</h1>
  <br><br><br><br>
  <img class="ui small left floated image" src="https://imgur.com/9Mc3IiI.png" alt="zubeir mohamed">
  <p>
    I wanted to learn about file systems and streaming videos to the client, and the app is the outcome, have fun :))
    <br><br>
    My name is Zubeir Mohamed I am studying Data Science and AI at the University of Saarland, Germany. I work as an intern software developer and started coding {{moment-from-now "2017-08-01"}}. Since then, my life pretty much revolves around programming. 
    <br> <br>
    Here you can find all my social links, let's connect :)
  </p>
  <a href="mailto: zubeir.mohamed@outlook.de" rel="noopener" target="_blank" id="social-links">
    <i class="mail icon"></i>
  </a>
  <a href="https://www.linkedin.com/in/zubeir-mohamed-29668217b/" rel="noopener" target="_blank" id="social-links">
    <i class="linkedin icon"></i>      
  </a>
  <a href="https://twitter.com/zubeirtech" rel="noopener" target="_blank" id="social-links"> 
    <i class="twitter icon"></i>
  </a>
  <a href="https://github.com/zubeir68" rel="noopener" target="_blank" id="social-links">
    <i class="github icon"></i>
  </a> <br><br><br><br><br><br><br>
</div>