<div class="ui mobile only padded grid">
  <div id="player-overlay">
    <video controls poster="{{model.thumbnail_url}}">
      <source src="{{model.video_url}}"  type="video/mp4">
    </video>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div class="ui tablet computer only padded grid">
  <video controls style="width: 100%" poster="{{model.thumbnail_url}}">
    <source src="{{model.video_url}}"  type="video/mp4">
  </video>
</div>

<h1 class="ui medium header" id="white">
  {{model.title}}
  <div class="sub header" id="lgrey">
    {{model.views}} views - {{moment-from-now model.created_at}}
  </div>
</h1>
<button class="ui tiny {{if model.liked "blue" ""}} icon button" {{action "like"}}>
  <i class="thumbs up outline icon"></i> like
</button> {{model.upvotes.length}} {{if (eq model.upvotes.length 1) "like" "likes"}} &nbsp; &nbsp; &nbsp; <img class="ui avatar image" src="{{model.channel.image_url}}" alt="profile">
{{#link-to "channels.channel" model.channel.id}}
  <span><strong>{{model.channel.channelname}}</strong></span>
{{/link-to}}<br> <br>

{{#ui-accordion as |execute|}}
  <div class="title" id="white">
    <i class="dropdown icon"></i>
    Description
  </div>
  <div class="content">
    {{model.description}}
  </div>
{{/ui-accordion}}
<br>
<div class="ui comments">
  <h3 class="ui dividing header" id="white">Comments</h3>
  <form class="ui reply form">
    <div class="field">
      {{textarea value=newComment placeholder="Enter comment..."}}
    </div>
    <div class="ui blue labeled submit icon button" id="logbutton" {{action "comment"}}>
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
  <br>
  <div class="comment">
    {{#each model.comments as |comment|}}
      <a class="avatar">
        <img src="{{comment.channel.image_url}}">
      </a>
      <div class="content">
        {{#link-to "channels.channel" comment.channel.id class="author slgrey"}}
          {{comment.channel.channelname}}
        {{/link-to}}
        <div class="metadata">
          <span class="date" id="lgrey">{{moment-from-now comment.created_at}}</span>
        </div>
        <div class="text" id="white">
          {{comment.comment}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
<br>
<br>
<br>