<div class="ui mobile only padded grid">
  <div id="player-overlay">
    <video controls poster="http://localhost:5000/api/images?image={{model.thumbnail_url}}">
      <source src="http://localhost:5000/api/videos?video={{model.video_url}}"  type="video/mp4">
    </video>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div class="ui tablet computer only padded grid">
  <video controls style="width: 100%" poster="http://localhost:5000/api/images?image={{model.thumbnail_url}}">
    <source src="http://localhost:5000/api/videos?video={{model.video_url}}"  type="video/mp4">
  </video>
</div>

<h1 class="ui medium header" id="white">
  {{model.title}}
  <div class="sub header" id="lgrey">
    {{model.views}} views - {{moment-from-now model.created_at}}
  </div>
</h1>
<button class="ui tiny {{if model.liked "blue" ""}} icon button" {{action "like"}}>
  <i class="thumbs up outline icon"></i> like
</button> {{model.upvotes.length}} {{if (eq model.upvotes.length 1) "like" "likes"}} &nbsp; &nbsp; &nbsp; <img class="ui avatar image" src="http://localhost:5000/api/images?image={{model.channel.image_url}}" alt="profile">
<span>{{model.channel.channelname}}</span> <br> <br>

{{#ui-accordion as |execute|}}
  <div class="title" id="white">
    <i class="dropdown icon"></i>
    Description
  </div>
  <div class="content">
    {{model.description}}
  </div>
{{/ui-accordion}}